*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  color: #e1e1e6;
  background-color: #121214;
}

.Toastify .Toastify__toast-container .Toastify__toast--success {
  background: #1b873f;
  color: #fff;
  border-radius: 5px;
}

.Toastify__toast-icon,
.Toastify__close-button {
  display: none;
}

.Toastify__progress-bar {
  background-color: transparent;
}

.markedPerson {
  color: #ff008e;
}
